<div class="card">
    <div class="card-image">
        <img src="../../../assets/images/rooms/small-room.jpg" alt="small-room">
        <div class="room-stars">
            <span>МАЛКА СТАЯ</span>
            <img src="../../../assets/images/icons/star-icon.svg" alt="star">
            <img src="../../../assets/images/icons/star-icon.svg" alt="star">
            <img src="../../../assets/images/icons/star-icon.svg" alt="star">
        </div>
    </div>
    <div class="card-body">
        <h2>Малка Стая</h2>
        <div class="card-icons">
            <img src="../../../assets/images/icons/guest-icon.svg" alt="guest-icon">
            <span>1 гост</span>
            <img src="../../../assets/images/icons/room-square-icon.svg" alt="">
            <span>70 м2</span>
        </div>
        <div class="card-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel molestie nisl. Duis ac mi leo.</p>
        </div>
        <a href="#" class="button">Вземете сега за 50лв.</a>
    </div>
</div>