<form #form (ngSubmit)="onSubmit(form)">
    <div class="form-container">
        <div class="check-in" (click)="openCheckIn($event)">
            <label for="check-in">Пристигане</label>
            <div class="display-date">
                <h1>20</h1>
                <div class="month">
                    <span>Oct</span>
                    <fa name="angle-down"></fa>
                </div>
            </div>
            <dp-date-picker #checkIn [config]="{'locale': 'bg', 'hideOnOutsideClick': false}"></dp-date-picker>
        </div>
        <div class="check-out" (click)="openCheckOut($event)">
            <label for="check-out">Напускане</label>
            <div class="display-date">
                <h1>20</h1>
                <div class="month">
                    <span>Oct</span>
                    <fa name="angle-down"></fa>
                </div>
            </div>
            <dp-date-picker #checkOut [config]="{'locale': 'bg'}"></dp-date-picker>
        </div>
    </div>
    <div class="guests">
        <fa name="minus" class="icon" (click)="removeGuest()"></fa>
        <h3> {{guests}} {{guests > 1 ? 'Гости' : 'Гост'}} </h3>
        <fa name="plus" class="icon" (click)="addGuest()"></fa>
    </div>
    <button type="submit"> Проверете за свободни стаи </button>
</form>