@mixin btn($background) {
    letter-spacing: 2px;
    background: $background;
    padding: 15px 30px;
    color: white;
}
@mixin flex($direction, $content, $align) {
    display: flex;
    @if $direction {
        flex-direction: $direction
    }
    @if $content {
        justify-content: $content
    }
    @if $align {
        align-items: $align
    }
}