@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'vars';
@import 'mixins';
* {
    font-family: 'Montserrat', sans-serif; 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    width: 75%;
    margin: 0 auto;
    transition: .2s ease;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
h1, h2, h3 {
    color: $headingColor;
    font-weight: 100;
    letter-spacing: 2px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
    
}
button {
    border: none;
    &:focus {
        outline: none;
    }
}
// DATE_PICKER 
.dp-picker-input {
    display: none;
}
@media only screen and (max-width: $breakPointDesktop) {
    .container {
        width: 90%;
    }
}